<br>
<br>
<br>

<%= yield %>
<div id="search_form">
  <h1>Check some weather details</h1>
  <%= form_with(url: "/", method: "get") do %>
    <%= text_field_tag :q, nil, placeholder: "Enter a city name" %>
    <%= submit_tag("search") %>
  <% end %>
</div>
<div id="weather_results">
  <p><%= @weather %></p>
</div>
